!!!
%html
  %head
    %title SimpleClouding - Simple way to manage your clouds.
    %link{:rel=>'stylesheet', :href=>'/stylesheets/invites.css', :type => "text/css"}
  %body
    %header
      %h1 SimpleClouding
      %em Simple way to manage your clouds.
    - if flash[:error]
      %section{ :id => 'error' }
        = flash[:error]
    - if flash[:notice]
      %section{ :id => 'notice' }
        = flash[:notice]
    %section{ :id => 'content' }
      = yield
    %footer
      %p &copy; 2009 Ladislav Martincik (@martincik)
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-157169-15']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
